*.db
*.sqlite
*.sqlite3
*.sql
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/sqlDataSources.xml
.idea/**/sqldialects.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/mongoSettings.xml
.idea/**/supp_tool.iml
.idea_modules/
__pycache__/
*.py[cod]
*$py.class
*.pyc